{;:base-url "http://nicorikken.eu/perun/"
 ;; :base-url "file:///home/nico/Software/nicorikken/nicorikken.github.io/target/public/"
 :base-url "http://localhost:3000/"
 :site-title "Nico Rikken"
 :description "Homepage of Nico Rikken"}
